extend layout_home

block sidebar
  if user.logged_in
    p logged_in
  else 
    form(class="pure-form", method="POST", action="/login")
        h1 Lets Play
        img(src="/images/logo-light.png")

        div(id="mainnav", class="pure-menu pure-menu-open pure-menu-horizontal")
            ul
                <li class="pure-menu-selected"><a href="#"><i class="icon-list"></i> &nbsp; Todos</a></li>
        
        div.formgroup
            fieldset.pure-group
                input(id="username", name="username", type="text", placeholder="username", class=" pure-input-1")
                input(id="password", name="password", type="password", placeholder="password", class=" pure-input-1")

            button( type="submit", class="pure-button pure-button-primary pure-input-1") <i class="icon-signin"></i> Log In