!!!5
html
  head
    title #{title} - Lets Play Node.js
    link(rel='stylesheet', href='//yui.yahooapis.com/pure/0.2.1/pure-min.css')
    link(rel="stylesheet", href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')
    link(rel="stylesheet", href='/stylesheets/styles.css')

  body
    .pure-g-r(style="width:500px; margin:0 auto;")
        .sidebar.pure-u-1
            block sidebar